@charset "UTF-8";
*, *:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

ul, img, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.main {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  width: 90vw;
  margin: 0 auto;
}

.main__wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 20px 0 100px;
}

.main-menu {
  width: 100vw;
  height: 100vh;
}

#sliderPhoto {
  height: 100vh;
  width: 500%;
  display: flex;
  position: absolute;
  transition: 1s;
}

.menu-absolute {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main-slider__photo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.chicago {
  background-image: url("../img/chicago.jpg");
  width: 20%;
}

.kiev {
  background-image: url("../img/kiev.jpg");
  width: 20%;
}

.usa {
  background-image: url("../img/usa.jpg");
  width: 20%;
}

.netherlands {
  background-image: url("../img/netherlands.jpg");
  width: 20%;
}

.odesa {
  background-image: url("../img/odesa.jpg");
  width: 20%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url("../img/logo.png");
  height: 120px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  padding: 10px 15px;
  align-self: flex-start;
}

.nav__item {
  font-size: 18px;
  position: relative;
  text-align: center;
}

.nav__item::before {
  content: "/ ";
  color: #fff;
  padding: 5px;
}

.nav__link {
  color: #fff;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: #e24598;
}

.menu li ul {
  position: absolute;
  min-width: 150px;
  display: none;
}

object {
  width: 55px;
  height: 55px;
}

.contact {
  display: flex;
}

.nav__item {
  margin-right: 2vw;
}

.nav__item:first-child::before {
  content: "";
}

.number {
  margin-right: 3vw;
  color: #fff;
  align-self: center;
}

.contact__buttons .contact__button {
  margin-right: 20px;
}

.contact__button {
  font-weight: 500;
}

.buttons, .button {
  margin-right: 20px;
}

.contact__button {
  font-weight: 500;
}

.button {
  color: #fff;
  padding: 15px 30px;
  background-color: #99db76;
  border-radius: 5px;
  border: 2px solid #99db76;
}

.button:hover {
  background-color: rgba(153, 219, 118, 0);
  border: 2px solid black;
}

.contact__button > a {
  margin-right: 10px;
}

.main-Information {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.main-Information__text {
  font-size: 3rem;
}

.menu-bottom {
  display: flex;
  justify-content: space-between;
}

.slider-right {
  display: inline-block;
}

.main__nuances {
  align-self: center;
  font-size: 22px;
}

.main__nuance {
  margin-top: 40px;
  display: inline-block;
}

.main__nuance::before {
  content: "";
  font-size: 2rem;
  color: #99db76;
}

.button__slider {
  position: absolute;
  right: 50%;
  bottom: -50px;
  transform: translateX(50%);
}

.menu__inscription {
  position: absolute;
  bottom: -30px;
  font-size: 5rem;
  right: 4vw;
  font-weight: 700;
  color: rgba(61, 185, 191, 0);
  -webkit-text-stroke: 2px #99db76;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 320px;
  background-color: #402985;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}
.popup__title {
  font-size: 28px;
}
.popup--active {
  display: flex;
}

.popup input {
  padding: 10px;
}

.btn__close {
  display: inline-block;
  width: 50px;
  padding: 10px 0 20px;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 20px;
}
.btn__close--left {
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 0;
}
.btn__close--right {
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: 0;
}
.btn__close:hover {
  cursor: pointer;
}

.icon-home-outline:before {
  content: "";
}

.about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 30px;
}

.about__information {
  display: flex;
  justify-content: space-between;
}

.about__text {
  max-width: 430px;
  line-height: 1.5;
}

.about__text--big {
  font-size: 30px;
  line-height: 1.6;
}

.about__values {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0 5vh 0;
}

.about__value {
  margin-right: 5vw;
}

.about__value--big {
  font-size: 6rem;
  color: #99db76;
  font-weight: bold;
  display: inline-block;
  z-index: 1;
}

.about__value--bg {
  background-color: lightblue;
  margin-top: 0.7vh;
  transform: translateY(-5vh);
  display: inline-block;
  padding: 2px 5px;
}

.our-advantages {
  padding: 20px 0;
}

.section-two {
  display: relative;
}

.advantages-question {
  font-size: 3rem;
}

.main__advantages {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 5vh;
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}

.advantage {
  width: calc(100% / 3 - 20px);
  padding: 40px 40px 20px 30px;
  border-radius: 5px;
  transition: 0.4s;
  -webkit-box-shadow: 4px 3px 11px 5px #dbdbdb;
  -moz-box-shadow: 4px 3px 11px 5px #dbdbdb;
  box-shadow: 4px 3px 11px 5px #dbdbdb;
}

.advantage:hover {
  background-color: #e24598;
  color: #fff;
  transition: 0.5s;
}

.text__title {
  text-transform: uppercase;
  color: #3db9bf;
  font-weight: 700;
  transition: 0.3s;
  letter-spacing: 1px;
  margin: 20px 0 10px 0;
  position: relative;
}

.text__title::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 15px;
  overflow: hidden;
  top: 3px;
  background-color: #3db9bf;
  left: -45px;
}

.icons__advantages {
  font-size: 3.5rem;
}

.advantage:hover .text__title {
  color: #fff;
  transition: 0.5s;
}

.advantage:hover .text__title:before {
  background-color: #fff;
  transition: 0.5s;
}

.upper-services {
  display: flex;
  justify-content: space-between;
  height: calc(66.6% - 20px);
  margin-bottom: 10px;
}

.upper-service {
  display: flex;
  flex-direction: column;
  width: calc(33.3% - 10px);
}

.service-wrapper {
  width: calc(100% - 32.8% - 10px);
  background-image: url("../img/services-big.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service__big {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 30px 55px 30px 35px;
  color: #fff;
}

.title-big {
  font-size: 2.3rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
}

.info_p {
  max-width: 450px;
  font-size: 20px;
}

.service__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 20px;
}

.service__details p {
  font-size: 12px;
  max-width: 300px;
}

.icon-right-dira::before {
  content: "0xe806";
  background-color: #e24598;
}

.service {
  padding: 28px 28px 40px 28px;
  color: #fff;
}

.services-title {
  font-size: 3rem;
  max-width: 900px;
  font-weight: 700;
  margin: 20px 0px 40px 0;
}

.service-title {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.our-services a {
  display: inline-block;
  margin: 60px 0px 0px;
}

.bottom-services {
  display: flex;
  justify-content: space-between;
}

.upper-service__top {
  background-color: #402985;
  border-radius: 10px;
  margin-bottom: 10px;
}

.upper-service__bottom {
  background-color: #D3D3D3;
  border-radius: 10px;
  color: black;
}

.service__list {
  margin-left: 20px;
  display: block;
}

.service__list li {
  margin-top: 10px;
}

.bottom-service__start {
  width: calc(33.3% - 10px);
  background-color: #e24598;
  border-radius: 10px;
}

.bottom-service__middle {
  width: calc(33.3% - 10px);
  background-color: #3db9bf;
  border-radius: 10px;
}

.bottom-service__end {
  width: calc(33.3% - 10px);
  background-color: #D3D3D3;
  border-radius: 10px;
  color: black;
}

.our-contacts {
  margin: 50px 0;
}

.our-contacts__title {
  font-size: 2rem;
}

.map__wrapper {
  margin-top: 10px;
  height: 550px;
}

#map {
  height: 100%;
  width: 100%;
}

.contacts {
  position: relative;
}

.contacts-inf {
  position: absolute;
  bottom: 50px;
  left: 20px;
  padding: 20px;
  background-color: #fff;
}

.contacts-inf p {
  margin-top: 10px;
}

.paragraph-ul {
  margin: 15px 0;
}

.contact-form {
  background-color: #402985;
  border-radius: 5px;
  max-width: 350px;
  padding: 24px 20px;
  position: absolute;
  right: 5vw;
  bottom: -8vh;
  opacity: 0.9;
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

form {
  margin-top: 10px;
}

.input__wrapper {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #402985;
  color: #fff;
  border-radius: 5px;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.contact-form p {
  color: #fff;
  margin: 15px 0;
}

.icon-contact {
  font-size: 2rem;
}

.icon-facebook-official {
  color: #3b5998;
}

.icon-telegram {
  color: #0088cc;
}

.icon-twitter-squared {
  color: #1DA1F2;
}

.icon-instagram,
.icon-instagram::before {
  background: -webkit-gradient(linear, left bottom, right top, from(#fcb045), to(#833ab4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.projects {
  display: flex;
  justify-content: space-between;
  background-color: #808080;
}

.dwelling {
  background-color: #bdbebd;
  padding-top: 20px;
}
.dwelling-flex {
  display: flex;
  justify-content: space-between;
}
.dwelling__left {
  width: 350px;
  border: 2px solid black;
  background-color: #99db76;
  padding: 25px 15px;
  max-height: 700px;
}
.dwelling__right {
  border: 2px solid black;
  width: 100%;
}
.dwelling__types {
  margin: 15px 0;
}
.dwelling__cost {
  margin-bottom: 15px 0;
}

.dwelling input {
  margin: 10px 0;
}

.founded-cards {
  background-color: grey;
  padding: 15px;
}
.founded-cards__link {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  display: inline-block;
  text-align: center;
}

.founded-cards a:hover {
  color: #99db76;
}

.cards {
  overflow: scroll;
  height: 600px;
}

.card {
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding: 15px 30px 15px 10px;
  align-items: flex-start;
  border-bottom: 2px solid black;
  min-height: 330px;
}
.card__text {
  margin: 10px 0;
}

.adress {
  margin: 15px 0;
}

.button__details {
  display: inline-block;
  margin: 10px 0;
}

.card__photo {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.card__description li {
  display: block;
  margin-top: 10px;
  height: 100%;
}

.card__description--bold {
  font-size: 20px;
  font-weight: 500;
}

.price--orange {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #402985;
}

.priceUSD {
  display: inline-block;
  width: 75px;
}

.card__description li {
  margin-top: 10px;
}

.location {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
}

.card__description li {
  margin: 10px 0;
}

.card__description li span:last-child {
  font-weight: 600;
}

.vacancies {
  background-color: #808080;
}

.vacancy__wrap {
  background-color: #bdbebd;
}

.vacancy {
  position: relative;
  height: calc(100vh - 120px);
}

.background-block {
  position: absolute;
  z-index: 0;
  width: 350px;
  height: calc(100vh - 120px);
  background-color: lightblue;
  opacity: 0.3;
}

.vacancy__title {
  font-size: 3rem;
  max-width: 900px;
}

.vacancy__card {
  display: flex;
}

.vacancy__description {
  width: 55%;
}

.vacancy__offer {
  width: 45%;
}

/*# sourceMappingURL=style.css.map */
