.our-advantages
	padding: 20px 0
.advantages-question
	font-size: 3rem
.main__advantages
	display: flex
	justify-content: space-between
	flex-direction: column
	margin-bottom: 5vh
.advantages
	display: flex
	justify-content: space-between
	margin-top: 4vh
.advantage
	width: calc(100% / 3 - 20px)
	padding: 40px 40px 20px 30px
	border-radius: 5px
	transition: .4s
	-webkit-box-shadow: 4px 3px 11px 5px rgba(219,219,219,1)
	-moz-box-shadow: 4px 3px 11px 5px rgba(219,219,219,1)
	box-shadow: 4px 3px 11px 5px rgba(219,219,219,1)
	&:hover
		background-color: #e24598
		color: #fff
		transition: .5s
	&-text__title
		text-transform: uppercase
		color: #3db9bf
		font-weight: 700
		transition: .3s
		letter-spacing: 1px
		margin: 20px 0 10px 0
		position: relative
		&::before
			position: absolute
			content: ""
			width: 35px
			height: 15px
			overflow: hidden
			top: 3px
			background-color: #3db9bf
			left: -45px
.advantages-icons
	font-size: 3.5rem
.advantage:hover .text__title
	color: #fff
	transition: .5s
	&::before
		background-color: #fff
		transition: .5s

