h2
	font-size: 3rem
.main__advantages
	display: flex
	justify-content: space-between
	flex-direction: column
	margin-bottom: 5vh
.advantages
	display: flex
	justify-content: space-between
	margin-top: 4vh
.advantage
	width: 30%
	height: 35vh
	padding: 20px 25px
	border: 1px solid black
	border-radius: 5px
	transition: .4s
.advantage:hover
	background-color: pink
	color: #fff