.our-contacts
	margin: 50px 0
.map__wrapper
	margin-top: 10px
	height: 550px
#map
	height: 100%
	width: 100%
.contacts
	position: relative
	&-inf
		position: absolute
		bottom: 50px
		left: 20px
		padding: 20px
		background-color: $white
	&-inf p
		margin-top: 10px
.paragraph-ul
	margin: 15px 0
.contact-form
	background-color: #402985
	border-radius:  5px
	max-width: 350px
	padding: 24px 20px
	position: absolute
	right: 5vw
	bottom: -8vh
	opacity: .9 
.title
	color: $white
	font-size: 1.5rem
form
	margin-top: 10px	
.input__wrapper
	margin-bottom: 15px
	padding: 10px
	background-color: #402985
	color: $white
	border-radius: 5px
.form-button
	display: flex
	justify-content: flex-end
	margin-top: 30px
.contact-form p
	color: #fff
	margin: 15px 0
.icon-contact
	font-size: 2rem
.icon-facebook-official
	color: #3b5998
.icon-telegram
	color: #0088cc
.icon-twitter-squared 
	color: #1DA1F2 
.icon-instagram,
.icon-instagram::before
	background: -webkit-gradient(linear, left bottom, right top, from(#fcb045), to(#833ab4))
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	display: initial
@media (max-width: 900px)
	.contacts
		display: flex
		align-items: center
	.contact-form
		position: static
		margin: 0 auto
	.contacts-inf
		position: static
		text-align: center