.upper-services
	display: flex
	justify-content: space-between
	height: calc(66.6% - 20px)
	margin-bottom: 10px
.upper-service
	display: flex
	flex-direction: column
	width: calc(33.3% - 10px)
.upper-service__big
	border: 2px solid red
	width: calc(100% - 32.8% - 10px)
	background-image: url('../img/services-big.jpg')
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	background-color: rgba(black, 0.6)
.service
	padding: 28px 28px 40px 28px
	color: #fff
.services-title
	font-size: 2.5rem
	max-width: 800px
.service-title
	font-size: 1.5rem
	font-weight: 600
	display: block
.our-services a
	display: inline-block
	margin: 60px 0px 0px
.bottom-services
	display: flex
	justify-content: space-between
.upper-service__top
	background-color: #402985
	border-radius: 10px
	margin-bottom: 10px
.upper-service__bottom
	background-color: #D3D3D3	
	border-radius: 10px
	color: black
.bottom-service__start
	width: calc(33.3% - 10px)
	background-color: #e24598
	border-radius: 10px
.bottom-service__middle
	width: calc(33.3% - 10px)
	background-color: #3db9bf
	border-radius: 10px
.bottom-service__end
	width: calc(33.3% - 10px)
	background-color: #D3D3D3
	border-radius: 10px
	color: black