.vacancies
	background-color: #808080
.vacancy__wrap
	background-color: #bdbebd
.vacancy
	position: relative
	height: calc(100vh - 120px)
.background-block
	position: absolute
	z-index: 0
	width: 350px
	height: calc(100vh - 120px)
	background-color: lightblue
	opacity: .3
.vacancy__title
	font-size: 3rem
	max-width: 900px
.vacancy__card
	display: flex
.vacancy__description
	width: 55%
.vacancy__offer
	width: 45%