
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-user-pair:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-lightbulb:before { content: '\e807'; } /* '' */
.icon-cogs:before { content: '\e808'; } /* '' */
.icon-commerical-building:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */